/* font-family: 'Poppins', sans-serif; */
/*  */
html {
    font-size: 62.5%;
}

body {
    background: url(../images/bg-desktop.svg) hsl(257, 40%, 49%);
    padding: 5px 70px 5px 70px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header {
    min-height: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .logo {
    width: 180px;
    height: 100%;
}

.main {
    display: grid;
    grid-template-areas:
        "illustration info";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.main .illustration {
    grid-area: illustration;
}

.main .info {
    grid-area: info;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
}

.main .info .title {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 4.3rem;
}

.main .info .description {
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 18px;
}

.main .info a {
    box-shadow: 1px 4px 13px 0.5px hsl(257, 40%, 30%);
    font-weight: 400;
    font-size: 16px;
    max-width: 170px;
    text-align: center;
    padding: 13px 50px;
    border-radius: 50px;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    transition: 0.3s;
}

.main .info a:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer {
    min-height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .socials i {
    width: 30px;
    color: #fff;
    margin: 15px;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
    font-size: 14px;
}

.footer .socials i:hover {
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

@media (max-width:720px){
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .main .info .title {
        margin-bottom: 25px;
        text-align: center;
    }

    .main .info .description {
        margin-bottom: 35px;
        text-align: center;
    }

    .main .info a {
        margin-bottom: 50px;
    }

    .footer {
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 425px) {
    body {
        background: no-repeat url(../images/bg-mobile.svg) hsl(257, 40%, 49%);
        padding: 5px 40px;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .main .info .title {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 2.3rem;
        text-align: center;
    }

    .main .info .description {
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
    }

    .main .info a {
        margin-bottom: 50px;
    }

    .footer {
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .socials i {
        width: 32px;
        height: 31px;
        padding: 7px; 
        color: #fff;
        margin: 10px;
        margin-bottom: 50px;
       

    }

    .footer .socials i:hover {
        border: 1px solid hsl(300, 69%, 71%);
        color: hsl(300, 69%, 71%);

    }
}